<!-- FAQ Template -->
    <form style="width:100%; padding:0">
        <div class="one-column">
            <!--ACCORDION-->
            <uib-accordion id="AccorFaq" close-others="oneAtATime" class="ui-accordion">
                <div uib-accordion-group class="panel-default" is-open="quest1" is-disabled="status.isFirstDisabled">
                    <uib-accordion-heading class="panel-heading">
                        I can have markup, too! <i class="pull-right glyphicon" ng-class="{'glyphicon-minus-sign': quest1, 'glyphicon-plus-sign': !quest1}"></i>
                    </uib-accordion-heading>
                    <p class="faqans">This is just some content to illustrate fancy headings.</p>
                </div>
                <div uib-accordion-group class="panel-default" is-open="quest2">
                    <uib-accordion-heading class="panel-heading">
                        I can have markup, too! <i class="pull-right glyphicon" ng-class="{'glyphicon-minus-sign': quest2, 'glyphicon-plus-sign': !quest2}"></i>
                    </uib-accordion-heading>
                    <p class="faqans">This is just some content to illustrate fancy headings.</p>
                </div>
            </uib-accordion>
            </div>
            <p class="faqans ng-scope" ng-controller="headerController" id="Close" aria-describedby="Close">
                <a title="Close" tabindex="0" class="k-link ng-binding" data-ng-click="closeFaqQuest()">Close</a>
            </p>
    </form>