<div id="nav-wrapper" ng-controller="headerController">
    <div class="header-info"></div>
    <div style="width:90%; min-width:320px; max-width:991px" id="page-wrapper">
        <!--<div class="row-fluid"></div>-->
        <div style="max-width:100%" class="gradient boarder" id="header">
            <!--<a title="Home" href="#/home">
                <img id="primaryLogo" src="" alt="header title">
            </a>-->
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                <a class="navbar-brand" href="#">
                                    <span class="glyphicon glyphicon-fire">Home</span>
                                </a>
                            </li>
                            <li>
                                <a class="navbar-link" href="#">
                                    <span class="glyphicon glyphicon-new-window">About</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a title="FAQ" class="navbar-link" tabindex="0" ng-click="openFaqQuest()">Instructions</a>
                        </li>
                    </ul>
                </div> 
            </nav>
        </div>
    </div>
    <div id="faqQuest" kendo-window="faqQuest"
                       k-title="'INSTRUCTIONS'" 
                       k-actions="['Close']"
                       k-modal="true" k-width="'90%'" 
                       k-max-width="900" k-visible="false" 
                       k-resizable="true"
                       k-content="{ url: 'app/views/faq.html' }"
                       data-role="window"
                       class="k-window-content k-content"
                       tabindex="0" role="dialog" 
                       aria-labelledby="faqQuest_and_title">
    </div>
</div>


