<div id="home">
    <form>
        <div class="one-column">
            <div class="border">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="gradientb" id="homeTitle">
                            Postcard Creator
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12"><p>Welcome to Postcard Creator App!</p></div>
                </div>
                <div class="row">
                    <div class="col-sm-5 pull-right">
                        <div class="form-group" id="btnContinue" aria-describedby="btnContinue">
                            <input disabled="disabled" class="btn btn-primary btn-large float-right" id="btnContinue" type="submit" value="Continue" ng-disabled="homeForm.$invalid" ng-click="go()">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

